<div class="col col-sm-6 col-md-4 p-3">
  <div class="card">
    <%= image_tag "event_thumb.jpg", class: "event-background", alt: "Шашлыки"%>
    <div class="thumbnail-inner event-info-inner">
      <div class="card-body">
        <div class="event-description">
          <div class="card-title">
            <h3 class="text-wrap"><%= link_to event.title, event_path(event) %></h3>
          </div>
          <h3><small><%= event.datetime %></small></h3>
          <div class="buffer-both"><%= event.address %></div>
        </div>
      </div>
    </div>
  </div>
</div>
