<div class="event-photo mx-1 my-3">
  <% image_title = "#{render partial: 'photos/photo_info', locals: { photo: photo }}"%>
  
  <%= link_to image_tag(photo.photo.variant(:thumb)), photo.photo.url,
              data: { lightbox: 'event-photos', title: image_title } %>
</div>
