<span class='me-2'><%= t('photos.uploaded') %></span>
<%= render partial: 'users/user', object: photo.user %>

<% if current_user_can_edit?(photo) %>
      <%= button_to '', event_photo_path(photo.event, photo), method: :delete,
                    form: { data: { turbo_confirm: t('.destroy_confirm') } }, title: t('photos.delete'), class: 'bi bi-trash', form_class: 'd-inline' %>
<% end %>
